<div class="row">
  <div class="col-xs-12">
        <div class="jumbotron text-center" style="padding: 15px; margin: 20px 0; margin-top: 0">
          <h3>Сделай курсовой</h3>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-xs-12 text-justify">
            <div class="panel">
              <div class="panel-body">
                <h4>Оплата</h4>
                <hr>
                <p>Стоимость составляет 80 белорусских рублей. Оплату можно произвести наличными, по карточке, перевести деньги
                  с телефонного счёта, через яндекс.деньги. Половина вносится вначале, половина в конце.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12 text-justify">
            <div class="panel">
              <div class="panel-body">
                <h4>О программе</h4>
                <hr>                
                  <div class="panel panel-default">
                    <div class="panel-heading">Курс</div>
                    <div class="panel-body">Индивидуальный обучающий курс, в рамках которого будет выполнен курсовой проект.</div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">Пояснительная записка</div>
                    <div class="panel-body">Написание пояснительной записки - как написать пояснительную записку за час.</div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">Сроки</div>
                    <div class="panel-body">Время на составление программы - 1 неделя, программа рассчитана на 1 месяц по 4 часа в неделю с преподавателем.</div>
                  </div>                
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12 text-justify">
            <div class="panel">
              <div class="panel-body">
                <h4>Прохождение</h4>
                <hr>
                <p>
                  Цель программы - курсовой проект своими руками. В программу входят теория и практика. Практика - одно 4-х часовое занятие в неделю с преподавателем. За месяц вместе с ним 
                  вы напишите свой курсовой проект. Самостоятельная работа не обязательна, но рекомендуется для усвоения материала. 
                </p>
              </div>
            </div>
          </div>
        </div>
  </div>